<!-- Customers Table -->
<H1>Customer Update</H1>
<h4>Update customer information</h4>

<!-- Headers and references to those pages -->
<ul>
    <li><a href="index">Home</a></li>
    <li><a href="customers">Customers</a></li>
    <li><a href="Invoices">Invoices</a></li>
    <li><a href="orders">Orders</a></li>
    <li><a href="product_inventory">Product Inventory</a></li>
    <li><a href="wh_inv">Warehouse Inventory</a></li>
    <li><a href="warehouse_locations">Warehouse Locations</a></li>
    <li><a href="employees">Employees</a></li>
</ul>	

<!-- Form to update a customer, including ID -->
<form id="update_customer" action="{{customer[0]}}" method="POST">
    
<!-- Removing this because it isn't necessary
    Customer ID: <select name="customer_ID">
        <option selected value="{{customer[0]}}">{{ customer[0] }}</option>
        <option value="NULL">NULL</option>
    </select> <br>
-->
    First Name: <input type="text" name="first_name" value = "{{customer[1]}}"> <br>
    Last Name: <input type="text" name="last_name" value = "{{customer[2]}}"> <br>
    Email: <input type="text" name="email" value = "{{customer[3]}}"> <br>
    Phone Number: <input type="text" name="phone_number" value = "{{customer[4]}}"> <br>
    <input type="submit" value="Submit">
</form>


<!-- This style seciton could be replaces with a style sheet or something-->
<style>
/* General background and table style*/
body{
    background-color: #F5F5F5;
}

h1, h4, h2{
    text-align: center;
}
    
table, td, tr, th {
    border: solid;
    border-width: 2px;
}
form {
    border: solid;
    border-width: 2px;
    width: 100%
}
fieldset{
    border: none;
}

/* Navigation bar style */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
  background-color: #B0C4DE ;
  overflow: hidden;
}

li {
   float: left;
}

li a {
  display: block;
  color: black;
  padding: 10px 37px;
  text-decoration: none;
}

/* Hover color*/
li a:hover {
  background-color: #4682B4;
  color: white;
}

.table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
    
</style>
