<!-- Warehouse Locations Table -->
<H1>Warehouse Locations</H1>
<h4>Choose one of your favorite locations</h4>

<!-- Headers and references to those pages -->
<ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="customers.html">Customers</a></li>
	<li><a href="Invoices">Invoices</a></li>
    <li><a href="orders.html">Orders</a></li>
	<li><a href="product_inventory">Product Inventory</a></li>
    <li><a href="warehouse_inventory.html">Warehouse Inventory</a></li>
    <li><a href="warehouse_locations">Warehouse Locations</a></li>
	<li><a href="employees.html">Employees</a></li>
</ul>	

<!-- Table to display invoice information -->
<div>
    <legend><H2>Warehouse Locations</H2></legend>
    <table class="table">
        <thead>
            <th>location_id</th>
            <th>location_street_address</th>
            <th>location_city</th>
            <th>location_state</th>
            <th>location_zip</th>
            <th>modify address</th>
            <th>delete address</th>
        </thead>

        <tbody>
            {% for r in rows %}
            <tr>
              <td> {{ r.0 }}</td>
              <td> {{ r[1] }}</td>
              <td> {{ r[2] }}</td>
              <td> {{ r[3] }}</td>
              <td> {{ r[4] }}</td>
              <td> <input type='button' name='Update' value='Update' onclick="window.location = '/update_people/{{r[4]}}'"> </td>
              <td> <input type='button' name='Delete' value='Delete' onclick="window.location = '/delete_people/{{r[4]}}'"> </td>
            </tr>
            {% endfor %}
          </tbody>
</table>

<br></br>

<!-- Form to submit invoice information -->
<form action="/warehouse_locations" method="POST">
    <fieldset>
        <legend>New Invoice Information:</legend>
        <label>Location ID:
            <input type="number" name="location_ID" size="30" maxlength="100">
        </label>
        <br>
        <label>Location Street Address:
            <input type="text" name="location_street_address" size="30" maxlength="100">
        </label>
        <br>
        <label>Location City:
            <input type="text" name="location_city" size="30" maxlength="100">
        </label>
        <br>
        <label>Location State:
            <input type="text" name="location_state" size="30" maxlength="100">
        </label>
        <br>
        <label>Location Zip:
            <input type="number" name="location_zip" size="30" maxlength="100">
        </label>
        <br>
        <input type="submit" value="Submit Location">
    </form>


<!-- This style seciton could be replaces with a style sheet or something-->
<style>
/* General background and table style*/
body{
    background-color: #F5F5F5;
}

h1, h4, h2{
    text-align: center;
}

table, td, tr, th {
	border: solid;
    border-width: 2px;
}
form {
	border: solid;
    border-width: 2px;
	width: 100%
}
fieldset{
    border: none;
}

/* Navigation bar style */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
  background-color: #B0C4DE	;
  overflow: hidden;
}

li {
   float: left;
}

li a {
  display: block;
  color: black;
  padding: 10px 37px;
  text-decoration: none;
}

/* Hover color*/
li a:hover {
  background-color: #4682B4;
  color: white;
}

.table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

</style>


