<!-- Warehouse Inventory Table -->
<H1>Warehouse Inventory</H1>
<h4>Displays warehouse inventory</h4>

<!-- Headers and references to those pages -->
<ul>
    <li><a href="index">Home</a></li>
    <li><a href="customers">Customers</a></li>
    <li><a href="Invoices">Invoices</a></li>
    <li><a href="orders">Orders</a></li>
    <li><a href="product_inventory">Product Inventory</a></li>
    <li><a href="wh_inv">Warehouse Inventory</a></li>
    <li><a href="warehouse_locations">Warehouse Locations</a></li>
    <li><a href="employees">Employees</a></li>
</ul>	

<!-- Table to display warehouse inventory information -->
<div>
    <legend><H2>Warehouse Inventory</H2></legend>
    <table class="table">
        <thead>
            <th hidden>Inventory ID</th>
            <th>Location ID</th>
            <th>City</th>
            <th>Serial Number</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Delete Inventory</th>
        </thead>

<tbody>             
    {% for inv in wh_inv %}
    <tr>
        <td hidden>{{ inv[5] }}</td>
        <td>{{ inv[0] }}</td>
        <td>{{ inv[2] }}</td>
        <td>{{ inv[1] }}</td>
        <td>{{ inv[3] }}</td>
        <td>{{ inv[4] }}</td>
        <td><button type="button" onclick="window.location='{{ url_for('delete_whInv', id = inv[5] ) }}'">Delete</button></td>
    </tr>
    {% endfor %}

</tbody>
</table>

<br></br>

<!-- Form to submit warehouse inventory information -->
<form id="add_whInv" action="add_whInv" method="POST">
    <fieldset>
        <legend>New Warehouse Inventory Information:</legend>
        <label>Location ID:
          <!-- would need dropdown 
            <input type="number" name="location_ID" size="30" maxlength="100">
            -->
            <select name="location_ID">
                {% for location in locs %}
                <option value="{{location[0]}}">{{ location[0] }} - {{ location[1] }}</option>
                {% endfor %}
            </select>
        </label>
        
        <br>
        <label>Product Serial Number:
          <!-- would need dropdown -->
          <select name="product_serial_number">
                {% for product in prods %}
                <option value="{{product[0]}}">{{ product[0] }} - {{ product[1] }} {{ product[2] }}</option>
                {% endfor %}
            </select>
            <!-- Old input without dropdown
            <input type="number" name="product_serial_number" size="30" maxlength="100">
          -->
        </label>
        <br>
        <input type="submit" value="Submit Warehouse Inventory" onclick="submit_warehouse_inventory()"/>
    </form>


<!-- This style seciton could be replaces with a style sheet or something-->
<style>
/* General background and table style*/
body{
    background-color: #F5F5F5;
}

table, td, tr, th {
	border: solid;
    border-width: 2px;
}
form {
	border: solid;
    border-width: 2px;
	width: 100%
}
fieldset{
    border: none;
}

/* Navigation bar style */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
  background-color: #B0C4DE	;
  overflow: hidden;
}

li {
   float: left;
}

li a {
  display: block;
  color: black;
  padding: 10px 37px;
  text-decoration: none;
}

/* Hover color*/
li a:hover {
  background-color: #4682B4;
  color: white;
}

</style>